.pybuilder/
target/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/

car_list_renew.py


# Byte-compiled / optimized / DLL files
__pycache__/
Cogs/__pycache__/
Cogs/utils/__pycache__/
*.py[cod]