.pybuilder/
target/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


.Cogs/
Car_spec_img/
data/
images/


.vscode/
.Procfile
.runtime.txt
.requirement.txt

car_list_renew.py
manage_data.py

# Byte-compiled / optimized / DLL files
__pycache__/
Cogs/__pycache__/
Cogs/utils/__pycache__/
*.py[cod]