.pybuilder/
target/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


.Cogs/
Car_spec_img/
data/
images/


.vscode/
.Procfile
.runtime.txt
.requirement.txt

car_list_renew.py
Config/


# End of https://www.toptal.com/developers/gitignore/api/python