discord.py
asyncio
typing
numpy
python-dotenv
beautifulsoup4
pandas
lxml
requests
aiohttp
aiosignal
async-timeout
attrs
discord-py-slash-command
distlib
et-xmlfile
filelock
frozenlist
multidict
openpyxl
pip
platformdirs
PyNaCl
setuptools
yarl