discord.py
asyncio
typing
numpy
python-dotenv
beautifulsoup4
pandas
lxml
requests
aiohttp
aiosignal
async-timeout
attrs
cffi
charset-normalizer
discord-py-slash-command
distlib
et-xmlfile
filelock
frozenlist
idna
multidict
openpyxl
pip
platformdirs
pycparser
pygame
PyNaCl
setuptools
yarl